:root {
  /* Color */
  --white: #FFF;
  --black: #000;
  --gray: #838383;
  --gray-light: #E5E5E5;
  --green: #00880E;
  --red: #FF0000;

  /* Shadow  */
  --black-shadow: hsl(0deg 0% 0% / 10%);
  --white-shadow: hsl(0deg 0% 100% / 10%);

  /* Background */
  --gray-bg-color: rgba(196, 196, 196, 0.3);
  --gray-bg-color-light: rgba(229, 229, 229, 0.35);

  /* Page */
  --page-padding: 10px;

  /* Font-weight */
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
